:root {
    content: 'ec8f';

}

* {
    color-scheme: dark;
    overflow: hidden;
}

main {
    border-radius: 10px;
    position: relative;

    canvas {
        opacity: 1;
        overflow: hidden;
        transition: .3s;
    }

    &:hover canvas {
        border-radius: 10px;
        opacity: 1;

    }
}


.open {
    animation-duration: .5s;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
}

.close {
    animation-duration: .5s;
    animation-name: fadeOut;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from {
        display: block;
        opacity: 0;
        transform: scaleY(0);
    }

    to {
        opacity: 1;
        transform: scaleY(1);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scaleY(1);
    }

    to {
        transform: scaleY(0);
        opacity: 0;
        display: none;

    }
}